<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/add_friends.css">
</head>

<body>
    <div id="app">
        <div class="header">
            <div>
                <img src="https://community.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="" style="windth:180px;height: 50px;">
            </div>
            <div>
                <div>商店</div>
                <div>社区</div>
                <div style="font-weight: 900;font-size: 22px;">{{userInfo.nickName}}</div>
                <div>聊天</div>
                <div>客服</div>
            </div>
        </div>
        <div class="main">
            <div class="main-header">
                <img :src="userInfo.avatar" alt="">
                <span>{{userInfo.nickName}}</span>
            </div>
            <div class="main-box">
                <div class="main-left">
                    <div>
                        <div>好友</div>
                        <div class="left-friend">
                            <div v-for="(item,index) of friendsMenu" @click = "changeIndex(item.id)">
                                <img v-bind:src="item.icon" alt="">
                                <span>{{item.menu}}</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>正在关注</div>
                        <div class="left-friend">
                            <div v-for="(item,index) of focusing" @click = "changeIndex(item.id)">
                                <img v-bind:src="item.icon" alt="">
                                <span>{{item.menu}}</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>组</div>
                        <div class="left-friend">
                            <div v-for="(item,index) of myGroups" @click = "changeIndex(item.id)">
                                <img v-bind:src="item.icon" alt="">
                                <span>{{item.menu}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-right">
                    
                    <div v-show="controlIndex==0">
                        <div>
                            <div>
                                您的好友 {{friendsList.length}}
                                <span>/260</span>
                            </div>
                            <div>
                                <div>管理好友列表</div>
                                <div @click = "changeIndex(1)">
                                    <span></span>
                                    <div>添加好友</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span></span>
                            <input type="text" placeholder="通过名称或者游戏名搜索好友">
                        </div>
                        <div>
                            <div v-if="friendsList.length == 0 " class="no-friends">
                                抱歉,没有好友可显示.
                            </div>
                            <div v-else></div>
                        </div>
                    </div>
                    <div v-show="controlIndex==1" class="add-friends">
                        <div>添加好友</div>
                        <div class="add-menu">
                            <div class="my-friend-code">
                                    <div>您的好友代码</div>
                                    <div>
                                        <span>{{myFriendsCode}}</span>
                                        <span>复制</span>
                                    </div>
                                    <div>输入您朋友的好友代码来邀请对方</div>
                                    <div>
                                        <input type="text" placeholder="输入好友代码">
                                    </div>
                            </div>
                            <div class="fast-invite"></div>
                            <div class="search-friend"></div>
                        </div>
                    </div>
                    <div v-show="controlIndex==2">3</div>
                    <div v-show="controlIndex==3">4</div>
                    <div v-show="controlIndex==4">5</div>
                    <div v-show="controlIndex==5">6</div>
                    <div v-show="controlIndex==6">7</div>
                    <div v-show="controlIndex==7">8</div>
                    <div v-show="controlIndex==8">9</div>
                    <div v-show="controlIndex==9">10</div>
                    <div v-show="controlIndex==10">11</div>
                </div>
            </div>
        </div>
        <!-- <div class="footer"></div> -->
    </div>
    <script src="../js/vue2.js"></script>
    <script src="../js/add_friends.js"></script>
    <script>
        window.onload = function () {
            // 获取本地存储的用户信息
        }
    </script>
</body>

</html>