.wrapper {
  width: 1000px;
  margin: 0 auto;
}
body,
html {
  width: 100%;
  height: auto;
  background: url(../images/colored_body_top.png) ;
  background-size: 100% 2458px;
  position: relative;
}
a {
  color: #ccc;
}
.title{
  color: #fff;
}
.leftBtn,.rightBtn{
  position: absolute;
  top: 50%;
  width: 60px;
  height: 80px;
  cursor: pointer;
  transform: translateY(-50%);
}
.leftBtn{
  left: -65px;
  background: url(../images/向左.png);
  background-size: 100% 100%;
}
.rightBtn{
  right: -65px;
  background: url(../images/向右.png);
  background-size: 100% 100%;
}
.dot{
  display: inline-block;
  margin: 12px 2px;
  width: 15px;
  height: 9px;
  border-radius: 2px;
  transition: background-color 0.2s;
  background-color: hsla(202,60%,100%,0.2);
  cursor: pointer;
  &:hover{
    background-color: hsla(202,60%,100%,0.3);
  }
}
.dot.active{
  background-color: hsla(202,60%,100%,0.4);
}
.primePrice{
  text-decoration: line-through;
}
.nowPrice{
  color: #beee11;
}
.more{
  padding: 4px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  a{
    font-size: 12px;
    color: #fff;
  }
}

// 顶部栏
nav {
  background-color: rgb(23, 26, 33);
  color: #ccc;
  height: 100px;
  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    .logo {
      a {
        width: 100%;
        height: 100%;
      }
    }
    .navList {
      flex: 1;
      display: flex;
      margin-left: 40px;
      position: relative;
      > li {
        cursor: pointer;
        margin-right: 30px;
        &:hover {
          color: #eee;
        }
      }
    }
    .store,
    .community {
      position: relative;
      div {
        display: none;
        position: absolute;
        top: 24px;
        left: -24px;
        width: 200%;
        height: auto;
        z-index: 100;
        > ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          width: 120%;
          height: auto;
          background-color: rgb(23, 26, 33);
          > li {
            &:hover {
              a {
                color: #eee;
              }
            }
            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .tool {
    display: flex;
    justify-content: space-evenly;
    width: 32%;
    height: 100%;
    padding-top: 10px;
    .install {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 26px;
      font-size: 13px;
      background-color: rgb(92, 126, 16);
      a {
        margin-left: 5px;
        color: #fff;
      }
    }
    .notLogin{
      a{
        font-size: 14px;
      }
    }
    .login{
      display: flex;
      flex: 1;
      justify-content: space-evenly;
      .info{
        position: relative;
        text-align: right;
        font-size: 12px;
        user-select: none;
        .name,.money{  
          cursor: pointer;
        }
        .name{
          &:hover{
            color: #fff;
          }
        }
        .money{
          &:hover{
            color: #fff;
          }
        }
        .selectBox{
          position: absolute;
          top: 23px;
          left: -68px;
          width: 136px;
          height: 148px;
          background: #171a21;
          font-size: 11px;
          color: #b8b6b4;
          box-shadow: 0 0 12px #000000;
          z-index: 1001;
          padding: 10px 14px;
          display: none;
          ul{
            width: 100%;
            height: 100%;
            li{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 25%;
            }
          }
        }
      }
      .pic{
        width: 40px;
        height: 40px;
        background-color: pink;
        cursor: pointer;
      }
    }
    .changeLang {
      select {
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: #ccc;
        option {
          background-color: rgb(23, 26, 33);
          border: none;
          outline: none;
        }
      }
    }
  }
}

// 侧边栏
aside{
  position: absolute;
  top: 180px;
  left: 30px;
  .title{
    font-size: 18px;
    color:#536f86
  }
  .giftCard{
    cursor: pointer;
    width: 160px;
    height: 120px;
    a{
      width: 100%;
      height: 100%;
    }
    img{
      width:100%;
      height: 60px;
    }
    &:hover{
      div{
        color: #eee;
        span{
          color: #eee;
        }
      }
    }
    div{
      width: 60%;
      color: #88bde9;
      span{
        color: #ccc;
        font-size: 14px;
      }
    }
  }
  .commendList{
    margin-bottom: 10px;
    ul{
      li{
        a{
          font-size: 13px;
          color: #7a8b9d;
        }
        &:hover{
          a{
            color: #66c0f4;
          }
        }
      }
    }
  }
}

// 内容区域
section {
  .wrapper {
    .title{
      color: #fff;
    }
    // 选择列表
    .pickList {
      position: relative;
      display: flex;
      margin-top: 40px;
      width: 100%;
      height: 35px;
      background: linear-gradient(
        90deg,
        rgba(62, 103, 150, 0.919) 11.38%,
        rgba(58, 120, 177, 0.8) 25.23%,
        rgb(15, 33, 110) 100%
      );
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      >ul {
        position: relative;
        display: flex;
        align-items: center;
        width: 80%;
        height: 100%;
        margin-left: 20px;
        > li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          cursor: pointer;
          font-weight: 700;
          color: #eee;
          margin-right: 20px;
          font-size: 14px;
          text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        }
        .yourStore,.recommend,.gameType{
          width: 60px;
          position: relative;
          >div {
            display: none;
            position: absolute;
            top: 35px;
            left: -20px;
            width: 200%;
            height: auto;
            z-index: 100;
            > ul {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 120%;
              height: auto;
              background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
              padding: 8px 5px 8px 5px;
              > li {
                width: 80%;
                height: 25px;
                margin: 5px 0;
                margin-bottom: 0;
                &:hover {
                  border-bottom: 1px solid #fff;
                  a {
                    color: #eee;
                  }
                }
                a {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .gameType{
          >div{
            display: flex;
            display: none;
            justify-content: space-between;
            left: -10px;
            width: 700px;
            height: 420px;
            background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
            padding: 15px 20px;
            font-weight: normal;
            .title{
              margin-bottom: 10px;
              color: #2ebfff;
            }
            .line{
              height: 1px;
              background: linear-gradient(90deg, rgba(216, 216, 216, 0.3), transparent);
              margin: 7px 0;
              width: 50%;
            }
            .left{
              height: auto;
              li{
                width: 100%;
                height: 20px;
                  &:hover{
                    border-bottom: 1px solid #fff;
                  }
              }
            }
            .middle{
              display: flex;
              flex-direction: column;
              flex: 1;
              margin: 0 50px;
              height: auto;
              .topList{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                height: 47%;
                margin-bottom: 0px;
                li{
                  margin-bottom: 5px;
                  margin-right: 5px;
                  height: 20px;
                  &:hover{
                    border-bottom: 1px solid #fff;
                  }
                }
              }
              .bottomList{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                height: 50%;
                li{
                  margin-bottom: 5px;
                  margin-right: 5px;
                  height: 20px;
                  &:hover{
                    border-bottom: 1px solid #fff;
                  }
                }
              }
            }
            .right{
              display: flex;
              flex-direction: column;
              height: auto;
              .topList,.bottomList{
                li{
                  width: 100%;
                  height: 20px;
                  &:hover{
                    border-bottom: 1px solid #fff;
                  }
                }
              }
            }
          }
        }
      }
      .search {
        display: flex;
        align-items: center;
        position: relative;
        input {
          width: 100%;
          height: 80%;
          background: rgb(49, 98, 130);
          border: 1px solid rgb(34, 68, 91);
          font-style: italic;
          padding-left: 10px;
          border-radius: 4px;
          &:hover{
            outline: 1px solid rgb(76, 154, 204);
          }
          &:focus {
            outline: 1px solid rgb(76, 154, 204);
          }
        }
        .icon {
          cursor: pointer;
          width: 15%;
          height: 80%;
          border-radius: 2px;
          overflow: hidden;
          position: absolute;
          right:0;
          top: 50%;
          transform: translate(0,-50%);
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .wishList{
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: -32px;
        padding: 2px 20px;
        font-size: 12px;
        color: #fff;
        background: url(../images/wishlist_background.jpg);
        background-size: 100% 100%;
      }
    }
    
    // 轮播图
    .banner{
      margin-top: 40px;
      position: relative;
      height: 432px;
      .bannerPic{
        cursor: pointer;
        display: flex;
        width: 100%;
        height: 352px;
        margin-top: 10px;
        color: #fff;
        transition: all .1s;
        .img{
          width: 80%;
          height: 100%;
          box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
          img{
            width: 100%;
            height: 100%;
          }
        }
        .desc{
          width: 33%;
          height: 100%;
          background: url(../images/bannerBg_maincap.jpg);
          .name{
            padding: 5px 10px;
            width: 100%;
            height: 28%;
            font-size: 30px;
            font-weight: 200;
            display: -webkit-box;
            -webkit-box-orient:vertical;
            -webkit-line-clamp:2;
            word-wrap: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .picList{
            padding-left: 10px;
            width: 100%;
            height: 34%;
            img{
              margin: 0 10px 10px 0;
              width: 42%;
              height: 45%;
            }
          }
          .text{
            width: 100%;
            height: 28%;
            padding: 5px 10px;
            div{
              font-size: 24px;
            }
            .tag{
              padding: 4px 6px;
              background-color: rgba( 255, 255, 255, 0.2 );
              font-size: 14px;
            }
          }
          .price{
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            .money{
              display: flex;
              .primePrice{
                text-decoration: line-through;
              }
              .nowPrice{
                color: #beee11;
              }
            }
            .icon{
              width: 24px;
              height: 24px;
              background: url(../images/bannerIcon.png);
              background-size: 100% 100%;
            }
          }
        }
      }
      .dotList{
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .7s;
        .dot{
          display: inline-block;
          margin: 12px 2px;
          width: 15px;
          height: 9px;
          border-radius: 2px;
          transition: background-color 0.2s;
          background-color: hsla(202,60%,100%,0.2);
          cursor: pointer;
          &:hover{
            background-color: hsla(202,60%,100%,0.3);
          }
        }
        .active{
          background-color: hsla(202,60%,100%,0.4);
        }
      }
      .leftBtn,.rightBtn{
        position: absolute;
        top: 50%;
        width: 60px;
        height: 80px;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .leftBtn{
        left: -65px;
        background: url(../images/向左.png);
        background-size: 100% 100%;
      }
      .rightBtn{
        right: -65px;
        background: url(../images/向右.png);
        background-size: 100% 100%;
      }
    }

    // 主题图片
    .topicPic{
      margin-top: 30px;
      width: 100%;
      height: 150px;
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url(../images/topic_takeunder.jpg);
        background-size: 100% 100%;
      }
    }

    // 特别优惠
    .saleGame{
      margin-top: 40px;
      width:100%;
      height: 500px;
      position: relative;
      .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        .more{
          padding: 4px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          a{
            font-size: 12px;
            color: #fff;
          }
        }
      }
      .content{
          width: 100%;
          height: 80%;
        .gameList{
          width: 100%;
          height: 100%;
          .text{
            width:100%;
            height: 30%;
            background: url(../images/salebackground_spotlight.jpg);
            background-size: 100% 100%;
            padding: 10px 14px;
            .time{
              color: #acdbf5;
              font-size: 14px;
              margin: 10px 0;
            }
            .priceBox{
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #344654;
              width: 50%;
              height: 35px;
              box-shadow: 0 0 2px black;
              .primePrice{
                font-size: 14px;
                text-decoration: line-through;
              }
              .nowPrice{
                color: #beee11;
              }
            }
          }
          .big{
            float: left;
            width: 32%;
            height: 100%;
            a{
              display: inline-block;
              width: 100%;
              height: 100%;
            }
            .img{
              width: 100%;
              height: 70%;
              img{
                width:100%;
                height: 100%;
              }
            }
          }
          .small{
            float: left;
            width: 36%;
            height: 48%;
            a{
              display: inline-block;
              width: 100%;
              height: 100%;
            }
            .img{
              width: 100%;
              height: 70%;
              img{
                width: 100%;
                height: 100%;
              }
            }
            &:last-child{
              margin-top: 16px;
            }
            .text{
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
        .dots{
          width: 100%;
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          .dot{
            display: inline-block;
            margin: 12px 2px;
            width: 15px;
            height: 9px;
            border-radius: 2px;
            transition: background-color 0.2s;
            background-color: hsla(202,60%,100%,0.2);
            cursor: pointer;
            &:hover{
              background-color: hsla(202,60%,100%,0.3);
            }
          }
          .active{
            background-color: hsla(202,60%,100%,0.4);
          }
        }
      }
      .leftBtn,.rightBtn{
        position: absolute;
        top: 50%;
        width: 60px;
        height: 80px;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .leftBtn{
        left: -65px;
        background: url(../images/向左.png);
        background-size: 100% 100%;
      }
      .rightBtn{
        right: -65px;
        background: url(../images/向右.png);
        background-size: 100% 100%;
      }
    }

    // 按类别浏览
    .type{
      width: 100%;
      height: 320px;
      position: relative;
      .title{
        width: 100%;
        height: 10%;
      }
      .list{
        width: 100%;
        height: 75%;
        ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100%;
          display: none;
          opacity: 0;
          li{
            width: 23%;
            height: 100%;
            position: relative;
            background: rgb(27,40,56);
            transition: all .3s;
            &:hover{
              transform: scale(1.05);
            }
            .cover{
              cursor: pointer;
              width: 100%;
              height: 40%;
              position: absolute;
              bottom: -20%;
              left: 50%;
              transform: translate(-50%,-50%);
              filter: blur(20px) brightness(80%);
            }
            a{
              display: inline-block;
              width: 100%;
              height: 100%;
              img{
                width: 100%;
                height: 100%;
              }
            }
            span{
              position: absolute;
              bottom: 10%;
              left:50%;
              width: 150px;
              text-align: center;
              transform: translate(-50%,-50%);
              font-size: 20px;
              font-weight: 700;
              color: #fff;
              z-index: 2;
              cursor: pointer;
            }
          }
        }
        .active{
          opacity: 1;
          display: flex;
        }
      }
      .leftBtn,.rightBtn{
        position: absolute;
        top: 50%;
        width: 60px;
        height: 80px;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .leftBtn{
        left: -65px;
        background: url(../images/向左.png);
        background-size: 100% 100%;
      }
      .rightBtn{
        right: -65px;
        background: url(../images/向右.png);
        background-size: 100% 100%;
      }
      .dots{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15%;
        .dot{
          display: inline-block;
          margin: 12px 2px;
          width: 15px;
          height: 9px;
          border-radius: 2px;
          transition: background-color 0.2s;
          background-color: hsla(202,60%,100%,0.2);
          cursor: pointer;
          &:hover{
            background-color: hsla(202,60%,100%,0.3);
          }
        }
        .active{
          background-color: hsla(202,60%,100%,0.4);
        }
      }
    }
  }
}

// 内容部分
article{
  .wrapper{
    .notLogin,.alreadyLogin{
      margin: 50px 0;
      width: 100%;
      height: 165px;
    }
    // 未登录状态
    .notLogin{
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(27,40,56);
      .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 80%;
        color: rgb(143, 152, 160);
        >a{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 14%;
          height: 30%;
          padding: 1px;
          color: #D2E885 !important;
          border-radius: 4px;
          border: 2px solid #172030;
          background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
          margin: 10px 0;
        }
        div{
          a{
            color: #fff;
          }
        }
      }
    }
    // 登陆状态
    .alreadyLogin{
      position: relative;
      height: 200px;
      .background{
        width: 100%;
        height: 165px;
        position: relative;
        margin-top: 10px;
        .img{
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);
        }
        .img1{
          width: 40%;
          height: 100%;
          z-index: 5;
          transform: translate(0);
          top: 0;
          left: 0;
        }
        .img2{
          width: 36%;
          height: 90%;
          z-index: 4;
          left: 40%;
        }
        .img3{
          width: 32%;
          height: 80%;
          z-index: 3;
          left: 60%;
        }
        .img4{
          width: 28%;
          height: 70%;
          z-index: 2;
          left: 80%;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
      a{
        position: absolute;
        top: 58%;
        left: 45%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient( to bottom, #e8f5fc 5%, #cce9f9 95%);
        width: 75%;
        height: 25%;
        z-index: 6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #000;
        padding-left: 18px;
        .arrow{
          width: 36px;
          height: 36px;
          top: 7px;
          right: -18px;
          position: absolute;
          transform: rotate(45deg) scale(1.0);
          -webkit-backface-visibility: hidden;
          background: -webkit-linear-gradient( 134deg, #e8f5fc 5%,#cce9f9 95%);
          background: linear-gradient( 134deg, #e8f5fc 5%,#cce9f9 95%);
        }
      }
    }

    // seeSteam
    .seeSteam{
      height: 100px;
      width: 100%;
      .title{
        margin: 20px 0 10px 0;
        width: 100%;
        height: 23%;
      }
      ul{
        width: 100%;
        height: 62%;
        display: flex;
        justify-content: space-between;
        li{
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 23%;
          height: 100%;
          background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
          border-radius: 3px;
          box-shadow: 0 0 4px #000;
          &:hover{
            background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
          }
          a{
            color: #FFF;
          }
        }
      }
    }

    // 热门游戏
    .popGame{
      margin-top: 60px;
      width: 100%;
      height: 210px;
      position: relative;
      .top{ 
        height: 10%;
        display: flex;
        justify-content: space-between;     
        .more{
          padding: 4px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          a{
            font-size: 12px;
            color: #fff;
          }
        }
      }
      .gameList{
        margin-top: 10px;
        width: 100%;
        height: 70%;
        ul{
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          display: none;
          li{
            cursor: pointer;
            width: 23%;
            height: 100%;
            a{
              display: inline-block;
              width: 100%;
              height: 100%;
              img{
                width: 100%;
                height: 80%;
              }
              .text{
                display: flex;
                align-items: center;
                height: 20%;
                background: linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%);
                padding: 0 10px;
                &:hover{
                  background: linear-gradient( to right, rgba(56,107,135,1) 5%,rgba(68,130,163,1) 95%);
                }
                .primePrice{
                  text-decoration: line-through;
                }
                .nowPrice{
                  color: #a4d007;
                }
              }
            }
          }
        }
        .active{
          display: flex;
        }
      }
      .dots{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15%;  
      }
    }

    // 游戏列表展示
    .showGameList{
      margin-top: 70px;
      width: 100%;
      height: 760px;
      .navTab{
        width: 100%;
        height: 4%;
        ul{
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          li{
            cursor: pointer;
            color: #4f94bc;
            width: 118px;
            text-align: center;
            font-size: 14px;
            &:hover{
              color: #fff;
            }
          }
          .active{
            padding: 5px 10px;
            color: #fff;
            background-color: rgb(23, 64, 82);
            border-radius: 4px;
          }
        }

      }
      .showList{
        width: 100%;
        height: 90%;
        .seeMore{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 40px;
          a {
            padding: 4px 10px;
            border: 1px solid #fff;
            border-radius: 4px;
            font-size: 12px;
          }
      }
      >ul{
        width: 100%;
        height: 100%;
        position: relative;
        display: none;
        >li{
          cursor: pointer;
          width: 65%;
          height: 85.5px;
          color: #c7d5e0;
          transition: all .3s;
          &:hover{
            background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
            color: #10161b;
          }
          .basicInfo{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            .img{
              width: 25%;
              height: 100%;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .desc{
              width: 55%;
              padding-left: 20px;
              .name{
                font-size: 20px;
              }
              .icon{
                width: 20px;
                height: 20px;
                background: url('../images/bannerIcon.png');
                background-size: 100% 100%;
              }
              .tag{
                font-size: 14px;
              }
            }
            .priceBox{
              text-align: right;
              display: flex;
              flex-direction:column ;
              justify-content: center;
              align-items: center;
              .primePrice{
                font-size: 14px;
              }
            }
          }
          .detail{
            cursor: default;
            position: absolute;
            right: 0;
            top: 0;
            width: 35%;
            height: 100%;
            z-index: -1;
            background: linear-gradient( to right, #95bbd4 5%,#859bac 95%);
            padding: 16px 20px;
            .desc{
              width: 100%;
              height: 20%;
              .name{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp:1;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 24px;
                color: #000;
              }
              .assessment{
                padding: 5px 7px;
                margin-bottom: 10px;
                background-color: rgba( 38, 54, 69, 0.6);
                color: #c6d4df;
                div{
                  font-size: 14px;
                  color:#66c0f4;
                }
              }
              .tag{
                ul{
                  display: flex;
                  li{
                    background-color: rgba( 38, 54, 69, 0.6);
                    padding: 2px 7px;
                    margin-right: 10px;
                    color: #fff;
                    font-size: 12px;
                  }
                }
              }
            }
            >.picList{
              width: 100%;
              height: 80%;
              >ul{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%; 
                >li{
                  width: 100%;
                  height: 24%;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
        .active{
          background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
            color: #10161b;
          .detail{
            z-index: 2;
          }
        }
      }
      .active{
        display: block;
      }
    }
  }
}
}

footer {
  width: 100%;
  height: 78px;
  color: #969696;
  font-family: "Motiva Sans",Arial,Helvetica,sans-serif;
  padding-top: 16px;
  background-color: #000;
  a {
    color: #bec2c5;
    &:hover {
        color: #fff;
    }
  }
  .footer_box {
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo{
      width: 88px;
      height: 25px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .info {
      .top {
        color: #8F98A0;
      }
      ul {
        display: flex;
        li {
          border-right: 1px solid #aaa;
          padding: 0 10px;
          &:nth-of-type(4) {
              border-right: none;
          }
        }
      }
    }
  }
}