body {
  background-color: #162838;
  color: #969696;
}
body .header {
  display: block;
  width: 100%;
  height: 104px;
}
body .footer {
  display: block;
  width: 100%;
  height: 78px;
}
body .badge_box {
  width: 76%;
  margin: 0 auto;
  position: relative;
}
body .badge_box .nav {
  width: 100%;
  height: 102px;
  background: rgba(78, 82, 90, 0.4);
  display: flex;
  align-items: center;
  padding: 10px 30px;
}
body .badge_box .nav .avatar {
  width: 64px;
  height: 64px;
}
body .badge_box .nav .avatar .img {
  width: 64px;
  height: 64px;
}
body .badge_box .nav .nav_bar {
  margin-left: 30px;
}
body .badge_box .nav .nav_bar .nickname {
  color: #ebebeb;
  font-size: 26px;
}
body .badge_box .nav .nav_bar .nickname:hover {
  color: #1A9FFF;
}
body .badge_box .nav .nav_bar .edit {
  color: #ebebeb;
}
body .badge_box .nav .nav_bar .edit:hover {
  color: #1A9FFF;
}
body .badge_box .container {
  width: calc(100% - 100px);
  margin: 0 auto;
}
body .badge_box .container .level_box {
  height: 76px;
  border-radius: 4px;
  padding: 0 20px;
  margin: 20px auto;
  border: 1px solid #E7E551;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #1D1E20;
}
body .badge_box .container .level_box .level {
  margin-right: 15px;
}
body .badge_box .container .level_box .level a {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #cfc9c9;
}
body .badge_box .container .level_box .level a .level_num {
  width: 36px;
  height: 36px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #8B9399;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
}
body .badge_box .container .level_box .experience {
  color: #cfc9c9;
}
body .badge_box .container .level_box .hint {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
body .badge_box .container .level_box .hint a {
  color: #cfc9c9;
}
body .badge_box .container .level_box .hint a:hover {
  color: #fff;
}
body .badge_box .container .bag_box {
  width: 100%;
  margin-bottom: 20px;
}
body .badge_box .container .bag_box a {
  float: right;
  margin-right: 5px;
  font-size: 14px;
  color: #1A9FFF;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.7);
}
body .badge_box .container .bag_box a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
body .badge_box .container .bag_box .bag1 {
  width: 140px;
}
body .badge_box .container .bag_box .bag2 {
  width: 100px;
}
body .badge_box .container .title_box {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .badge_box .container .title_box .t {
  font-size: 24px;
  color: #1A9FFF;
}
body .badge_box .container .title_box .sort {
  color: #ebebeb;
  display: flex;
  align-items: center;
}
body .badge_box .container .title_box .sort li {
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}
body .badge_box .container .title_box .sort li:nth-of-type(1) {
  color: #8B9399;
  font-size: 12px;
}
body .badge_box .container .title_box .sort li:nth-of-type(2) {
  text-decoration: underline;
}
body .badge_box .container .community_box {
  width: 100%;
  height: 400px;
  background-color: #222424;
  border-radius: 5px;
  padding: 0px 10px;
}
body .badge_box .container .community_box > .titl {
  width: 100%;
  height: 60px;
  padding: 15px 0px;
  font-size: 24px;
  color: #ebebeb;
  border-bottom: 1px solid #000;
}/*# sourceMappingURL=badges.css.map */