body {
  background-color: #1F2326;
  color: #969696;
}
body .c0 {
  background-color: rgba(38, 45, 49, 0.3);
}
body .c1 {
  background-color: rgba(121, 79, 24, 0.3);
}
body .c2 {
  background-color: rgba(2, 3, 9, 0.3);
}
body .c3 {
  background-color: rgba(54, 64, 73, 0.3);
}
body .c4 {
  background: linear-gradient(to left, rgba(88, 38, 95, 0.3), rgba(106, 31, 97, 0.3));
}
body .c5 {
  background-color: rgba(20, 20, 20, 0.3);
}
body .edit_box {
  width: 76%;
  margin: 0 auto;
  position: relative;
}
body .edit_box .nav {
  width: 100%;
  height: 102px;
  background: rgba(78, 82, 90, 0.4);
  display: flex;
  align-items: center;
  padding: 10px 30px;
}
body .edit_box .nav .avatar {
  width: 64px;
  height: 64px;
}
body .edit_box .nav .avatar .img {
  width: 64px;
  height: 64px;
}
body .edit_box .nav .nav_bar {
  margin-left: 30px;
}
body .edit_box .nav .nav_bar .nickname {
  color: #ebebeb;
  font-size: 26px;
}
body .edit_box .nav .nav_bar .nickname:hover {
  color: #1A9FFF;
}
body .edit_box .nav .nav_bar .edit {
  color: #ebebeb;
}
body .edit_box .nav .nav_bar .edit:hover {
  color: #1A9FFF;
}
body .edit_box .goback {
  color: #999;
  text-decoration: underline;
  position: absolute;
  top: 120px;
  right: 15px;
}
body .edit_box .goback:hover {
  color: #fff;
}
body .edit_box .container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
body .edit_box .container .left {
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
body .edit_box .container .left .to {
  display: flex;
  flex-direction: column;
}
body .edit_box .container .left .to .active {
  background-color: #3d4450;
  border-radius: 5px;
  color: #fff;
}
body .edit_box .container .left .to li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  margin-bottom: 5px;
  position: relative;
}
body .edit_box .container .left .to li .mask {
  width: 0;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-color: #3d4450;
  transition: all 0.3s linear;
}
body .edit_box .container .left .to li:hover {
  cursor: pointer;
}
body .edit_box .container .left .to li:hover span {
  color: #fff;
}
body .edit_box .container .left .to li:hover .mask {
  width: 100%;
}
body .edit_box .container .left .to li:nth-of-type(6) {
  margin-top: 20px;
  margin-bottom: 40px;
  border-top: 1px solid #ccc;
}
body .edit_box .container .left .toShop {
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #417a9b;
  border-radius: 4px;
  color: #417a9b;
  margin-bottom: 50px;
  position: relative;
}
body .edit_box .container .left .toShop .mask {
  width: 0;
  height: 36px;
  border-radius: 4px;
  position: absolute;
  top: -1px;
  left: 0px;
  z-index: -1;
  background-color: #1A9FFF;
  transition: all 0.3s linear;
}
body .edit_box .container .left .toShop:hover {
  cursor: pointer;
  color: #fff;
}
body .edit_box .container .left .toShop:hover .mask {
  width: 100%;
}
body .edit_box .container .right {
  width: calc(100% - 220px);
  margin-bottom: 300px;
}
body .edit_box .container .right .normall_box .title {
  margin-bottom: 20px;
}
body .edit_box .container .right .normall_box .title .t {
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 15px;
}
body .edit_box .container .right .normall_box .title span {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  padding-right: 40px;
}
body .edit_box .container .right .normall_box .title span a {
  color: #969696;
  text-decoration: underline;
}
body .edit_box .container .right .normall_box .title span a:hover {
  color: #fff;
}
body .edit_box .container .right .normall_box .normall_setting {
  margin-bottom: 20px;
}
body .edit_box .container .right .normall_box .normall_setting .title {
  height: 36px;
  padding: 20px 10px;
  padding-top: 0px;
  font-size: 16px;
  border-bottom: 2px solid rgba(228, 228, 228, 0.1);
}
body .edit_box .container .right .normall_box .normall_setting .detail {
  padding: 20px;
}
body .edit_box .container .right .normall_box .normall_setting .detail input {
  width: 100%;
  height: 40px;
  box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.6666666667);
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.25);
  color: #909090;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 5px;
}
body .edit_box .container .right .normall_box .normall_setting .detail > div {
  margin-bottom: 30px;
}
body .edit_box .container .right .normall_box .normall_setting .detail .self_url span:nth-of-type(2) {
  font-size: 14px;
}
body .edit_box .container .right .normall_box .position_setting {
  margin-bottom: 20px;
}
body .edit_box .container .right .normall_box .position_setting .title {
  height: 36px;
  padding: 20px 10px;
  padding-top: 0px;
  font-size: 16px;
  border-bottom: 2px solid rgba(228, 228, 228, 0.1);
}
body .edit_box .container .right .normall_box .position_setting .detail {
  padding: 20px;
}
body .edit_box .container .right .normall_box .position_setting .detail select {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #dfe3e6;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 5px;
}
body .edit_box .container .right .normall_box .position_setting .detail select:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
body .edit_box .container .right .normall_box .intro_setting {
  margin-bottom: 20px;
}
body .edit_box .container .right .normall_box .intro_setting .title {
  height: 36px;
  padding: 20px 10px;
  padding-top: 0px;
  font-size: 16px;
  border-bottom: 2px solid rgba(228, 228, 228, 0.1);
}
body .edit_box .container .right .normall_box .intro_setting .detail {
  padding: 20px;
  position: relative;
}
body .edit_box .container .right .normall_box .intro_setting .detail .intro textarea {
  width: 100%;
  height: 80px;
  box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.6666666667);
  border: none;
  outline: none;
  resize: none;
  background-color: rgba(0, 0, 0, 0.25);
  color: #dfe3e6;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 5px;
}
body .edit_box .container .right .normall_box .intro_setting .detail .emj {
  width: 44px;
  height: 44px;
  background-color: #2c3036;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  right: 20px;
}
body .edit_box .container .right .normall_box .intro_setting .detail .emj:hover {
  background-color: #3d424b;
  cursor: pointer;
}
body .edit_box .container .right .normall_box .intro_setting .detail .all_emj {
  display: none;
  width: 376px;
  height: 370px;
  background-color: #383D43;
  position: absolute;
  bottom: -404px;
  right: 20px;
  box-shadow: 0 0 10px 0 #000;
  padding: 10px 20px;
  font-size: 14px;
}
body .edit_box .container .right .normall_box .intro_setting .detail .all_emj .hint a {
  color: #1A9FFF;
}
body .edit_box .container .right .normall_box .intro_setting .detail .all_emj .hint a:hover {
  text-decoration: underline;
}
body .edit_box .container .right .normall_box .intro_setting .detail .all_emj input {
  width: 350px;
  height: 32px;
  background-color: #353738;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.6666666667);
  padding: 5px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: #909090;
}
body .edit_box .container .right .normall_box .bias_setting {
  margin-bottom: 20px;
}
body .edit_box .container .right .normall_box .bias_setting .title {
  height: 36px;
  padding: 20px 10px;
  padding-top: 0px;
  font-size: 16px;
  border-bottom: 2px solid rgba(228, 228, 228, 0.1);
}
body .edit_box .container .right .normall_box .bias_setting .detail {
  padding: 20px;
  display: flex;
  align-items: center;
}
body .edit_box .container .right .normall_box .bias_setting .detail input {
  width: 20px;
  height: 20px;
  background-color: #1F2326;
  margin-right: 6px;
}
body .edit_box .container .right .normall_box .btn {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-end;
}
body .edit_box .container .right .normall_box .btn button {
  width: 200px;
  height: 32px;
  margin-right: 15px;
  border: none;
  color: #dfe3e6;
  font-size: 14px;
  border-radius: 2px;
}
body .edit_box .container .right .normall_box .btn .cancel {
  background: #3d4450;
  transition: all 0.3s linear;
}
body .edit_box .container .right .normall_box .btn .cancel:hover {
  background: #515863;
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .normall_box .btn .save {
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
}
body .edit_box .container .right .normall_box .btn .save:hover {
  background: linear-gradient(to right, #68c4f5 0%, #4972ec 60%);
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .avatar_box {
  display: none;
}
body .edit_box .container .right .avatar_box > .title {
  margin-bottom: 20px;
}
body .edit_box .container .right .avatar_box > .title .t {
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 15px;
}
body .edit_box .container .right .avatar_box > .title span {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  padding-right: 40px;
}
body .edit_box .container .right .avatar_box .choose {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
body .edit_box .container .right .avatar_box .choose .show {
  display: flex;
  align-items: flex-end;
}
body .edit_box .container .right .avatar_box .choose .show li {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
body .edit_box .container .right .avatar_box .choose .show li span {
  font-size: 14px;
  margin-top: 5px;
}
body .edit_box .container .right .avatar_box .choose .show li .l_img {
  width: 184px;
  height: 184px;
}
body .edit_box .container .right .avatar_box .choose .show li .l_img img {
  width: 184px;
  height: 184px;
}
body .edit_box .container .right .avatar_box .choose .show li .m_img {
  width: 64px;
  height: 64px;
}
body .edit_box .container .right .avatar_box .choose .show li .m_img img {
  width: 64px;
  height: 64px;
}
body .edit_box .container .right .avatar_box .choose .show li .s_img {
  width: 32px;
  height: 32px;
}
body .edit_box .container .right .avatar_box .choose .show li .s_img img {
  width: 32px;
  height: 32px;
}
body .edit_box .container .right .avatar_box .choose .upload {
  width: 220px;
}
body .edit_box .container .right .avatar_box .choose .upload .upload_btn {
  width: 216px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  border: 4px;
  color: #dfe3e6;
  font-size: 14px;
  text-align: center;
  background: #3d4450;
  transition: all 0.3s linear;
  position: relative;
}
body .edit_box .container .right .avatar_box .choose .upload .upload_btn:hover {
  background: #545a66;
  box-shadow: 0 2px 10px 0 #000;
}
body .edit_box .container .right .avatar_box .choose .upload .upload_btn #upload {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
body .edit_box .container .right .avatar_box .choose .upload span {
  font-size: 14px;
}
body .edit_box .container .right .avatar_box .your_avatar {
  padding: 15px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 19px;
  max-height: 600px;
  overflow-y: auto;
  position: relative;
}
body .edit_box .container .right .avatar_box .your_avatar > .title {
  font-size: 24px;
  color: #dfe3e6;
  margin-bottom: 20px;
}
body .edit_box .container .right .avatar_box .your_avatar .avatar_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
body .edit_box .container .right .avatar_box .your_avatar .avatar_list li {
  width: 150px;
  height: 150px;
  transition: all 0.3s linear;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
body .edit_box .container .right .avatar_box .your_avatar .avatar_list li img {
  width: 150px;
  height: 150px;
}
body .edit_box .container .right .avatar_box .your_avatar .avatar_list li .mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.2);
}
body .edit_box .container .right .avatar_box .your_avatar .avatar_list li:hover img {
  transform: scale(1.2);
}
body .edit_box .container .right .avatar_box .your_avatar .avatar_list li:hover .mask {
  display: block;
}
body .edit_box .container .right .avatar_box .your_avatar .see_all_avatar {
  width: 120px;
  height: 32px;
  color: #dfe3e6;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  background: #3d4450;
  transition: all 0.3s linear;
  border: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
body .edit_box .container .right .avatar_box .your_avatar .see_all_avatar:hover {
  background: #5c626d;
  box-shadow: 0 2px 10px 0 #000;
}
body .edit_box .container .right .avatar_box .your_border {
  padding: 15px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 20px;
  overflow-y: auto;
  position: relative;
}
body .edit_box .container .right .avatar_box .your_border > .title {
  font-size: 24px;
  color: #dfe3e6;
  margin-bottom: 20px;
}
body .edit_box .container .right .avatar_box .your_border .border_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 30px;
}
body .edit_box .container .right .avatar_box .your_border .border_list li {
  width: 150px;
  height: 150px;
  border: 2px solid #1A9FFF;
  transition: all 0.3s linear;
  cursor: pointer;
}
body .edit_box .container .right .avatar_box .your_border .border_list li:hover {
  transform: scale(1.1);
}
body .edit_box .container .right .avatar_box .btn {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-end;
}
body .edit_box .container .right .avatar_box .btn button {
  width: 200px;
  height: 32px;
  margin-right: 15px;
  border: none;
  color: #dfe3e6;
  font-size: 14px;
  border-radius: 2px;
}
body .edit_box .container .right .avatar_box .btn .cancel {
  background: #3d4450;
  transition: all 0.3s linear;
}
body .edit_box .container .right .avatar_box .btn .cancel:hover {
  background: #515863;
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .avatar_box .btn .save {
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
}
body .edit_box .container .right .avatar_box .btn .save:hover {
  background: linear-gradient(to right, #68c4f5 0%, #4972ec 60%);
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .bg_box {
  display: none;
}
body .edit_box .container .right .bg_box > .title {
  margin-bottom: 20px;
}
body .edit_box .container .right .bg_box > .title .t {
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 15px;
}
body .edit_box .container .right .bg_box > .title span {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  padding-right: 40px;
}
body .edit_box .container .right .bg_box .bg_show {
  width: 100%;
  height: 150px;
  background: url(../../img/profile/bg_dots.png) no-repeat;
  background-size: 100% 150px;
  margin-bottom: 20px;
}
body .edit_box .container .right .bg_box .bg_show .center {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
}
body .edit_box .container .right .bg_box .bg_filter {
  margin-bottom: 20px;
}
body .edit_box .container .right .bg_box .bg_filter input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #0e1013;
  border: none;
  outline: none;
  padding: 10px;
  color: #999;
  font-size: 14px;
}
body .edit_box .container .right .bg_box .bg_choose {
  background-color: #191C1E;
  margin-bottom: 20px;
  padding: 20px 40px;
}
body .edit_box .container .right .bg_box .bg_choose .bg_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .edit_box .container .right .bg_box .bg_choose .bg_list li .bg_img {
  width: 200px;
  height: 112px;
  margin-bottom: 20px;
}
body .edit_box .container .right .bg_box .bg_choose .bg_list li .bg_img img {
  width: 200px;
  height: 112px;
  transition: all 0.3s linear;
}
body .edit_box .container .right .bg_box .bg_choose .bg_list li .bg_img img:hover {
  transform: scale(1.1);
}
body .edit_box .container .right .bg_box .bg_choose .bg_list li span {
  color: #1a44c2;
}
body .edit_box .container .right .bg_box .btn {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-end;
}
body .edit_box .container .right .bg_box .btn button {
  width: 200px;
  height: 32px;
  margin-right: 15px;
  border: none;
  color: #dfe3e6;
  font-size: 14px;
  border-radius: 2px;
}
body .edit_box .container .right .bg_box .btn .cancel {
  background: #3d4450;
  transition: all 0.3s linear;
}
body .edit_box .container .right .bg_box .btn .cancel:hover {
  background: #515863;
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .bg_box .btn .save {
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
}
body .edit_box .container .right .bg_box .btn .save:hover {
  background: linear-gradient(to right, #68c4f5 0%, #4972ec 60%);
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .mini_box {
  display: none;
}
body .edit_box .container .right .mini_box > .title {
  margin-bottom: 20px;
}
body .edit_box .container .right .mini_box > .title .t {
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 15px;
}
body .edit_box .container .right .mini_box > .title span {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  padding-right: 40px;
}
body .edit_box .container .right .mini_box .mini_show {
  width: 100%;
}
body .edit_box .container .right .mini_box .mini_show .card {
  width: 330px;
  height: 172px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 #000;
  background-color: rgb(47, 45, 45);
  color: rgb(166, 160, 160);
  position: relative;
}
body .edit_box .container .right .mini_box .mini_show .card .card_top {
  width: inherit;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .edit_box .container .right .mini_box .mini_show .card .card_top .avatar {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 22px;
  left: 15px;
}
body .edit_box .container .right .mini_box .mini_show .card .card_top .avatar img {
  width: 96px;
  height: 96px;
}
body .edit_box .container .right .mini_box .mini_show .card .card_top .nickname {
  font-size: 20px;
  color: rgb(166, 160, 160);
  margin-left: 45px;
}
body .edit_box .container .right .mini_box .mini_show .card .card_top .state {
  font-size: 12px;
  margin-left: -20px;
}
body .edit_box .container .right .mini_box .mini_show .card .card_level {
  width: inherit;
  height: 40%;
  margin-top: 22px;
  margin-left: 32px;
  color: rgb(166, 160, 160);
}
body .edit_box .container .right .mini_box .mini_show .card .card_level a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(166, 160, 160);
}
body .edit_box .container .right .mini_box .mini_show .card .card_level a .level_num {
  width: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 50%;
  border: 2px solid #8B9399;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}
body .edit_box .container .right .mini_box .mini_filter {
  margin-bottom: 20px;
}
body .edit_box .container .right .mini_box .mini_filter input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #0e1013;
  border: none;
  outline: none;
  padding: 10px;
  color: #999;
  font-size: 14px;
}
body .edit_box .container .right .mini_box .mini_choose {
  background-color: #191C1E;
  margin-bottom: 20px;
  padding: 20px 40px;
}
body .edit_box .container .right .mini_box .mini_choose .mini_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .edit_box .container .right .mini_box .mini_choose .mini_list li .mini_img {
  width: 200px;
  height: 112px;
  margin-bottom: 20px;
}
body .edit_box .container .right .mini_box .mini_choose .mini_list li .mini_img img {
  width: 200px;
  height: 112px;
  transition: all 0.3s linear;
}
body .edit_box .container .right .mini_box .mini_choose .mini_list li .mini_img img:hover {
  transform: scale(1.1);
}
body .edit_box .container .right .mini_box .mini_choose .mini_list li span {
  color: #1a44c2;
}
body .edit_box .container .right .mini_box .btn {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-end;
}
body .edit_box .container .right .mini_box .btn button {
  width: 200px;
  height: 32px;
  margin-right: 15px;
  border: none;
  color: #dfe3e6;
  font-size: 14px;
  border-radius: 2px;
}
body .edit_box .container .right .mini_box .btn .cancel {
  background: #3d4450;
  transition: all 0.3s linear;
}
body .edit_box .container .right .mini_box .btn .cancel:hover {
  background: #515863;
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .mini_box .btn .save {
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
}
body .edit_box .container .right .mini_box .btn .save:hover {
  background: linear-gradient(to right, #68c4f5 0%, #4972ec 60%);
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .theme_box {
  display: none;
}
body .edit_box .container .right .theme_box > .title {
  margin-bottom: 20px;
}
body .edit_box .container .right .theme_box > .title .t {
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 15px;
}
body .edit_box .container .right .theme_box > .title span {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  padding-right: 40px;
}
body .edit_box .container .right .theme_box .theme_bg_show {
  width: 100%;
  height: 150px;
  background: url(../../img/profile/bg_dots.png) no-repeat;
  background-size: 100% 150px;
  margin-bottom: 20px;
  position: relative;
}
body .edit_box .container .right .theme_box .theme_bg_show .center {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
}
body .edit_box .container .right .theme_box .theme_bg_show .mask {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
}
body .edit_box .container .right .theme_box .theme_choose {
  background-color: #191D1F;
  margin-bottom: 20px;
}
body .edit_box .container .right .theme_box .theme_choose .theme_list {
  display: flex;
  flex-wrap: wrap;
}
body .edit_box .container .right .theme_box .theme_choose .theme_list li {
  width: 33%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body .edit_box .container .right .theme_box .theme_choose .theme_list li .theme {
  width: 150px;
  height: 150px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.3s linear;
  cursor: pointer;
}
body .edit_box .container .right .theme_box .theme_choose .theme_list li .theme:hover {
  transform: scale(1.1);
}
body .edit_box .container .right .theme_box .theme_choose .theme_list li .c0 {
  background-color: #262D31;
}
body .edit_box .container .right .theme_box .theme_choose .theme_list li .c1 {
  background-color: #794F18;
}
body .edit_box .container .right .theme_box .theme_choose .theme_list li .c2 {
  background-color: #020309;
}
body .edit_box .container .right .theme_box .theme_choose .theme_list li .c3 {
  background-color: #364049;
}
body .edit_box .container .right .theme_box .theme_choose .theme_list li .c4 {
  background: linear-gradient(to left, #58265F, #6A1F61);
}
body .edit_box .container .right .theme_box .theme_choose .theme_list li .c5 {
  background-color: #141414;
}
body .edit_box .container .right .theme_box .btn {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-end;
}
body .edit_box .container .right .theme_box .btn button {
  width: 200px;
  height: 32px;
  margin-right: 15px;
  border: none;
  color: #dfe3e6;
  font-size: 14px;
  border-radius: 2px;
}
body .edit_box .container .right .theme_box .btn .cancel {
  background: #3d4450;
  transition: all 0.3s linear;
}
body .edit_box .container .right .theme_box .btn .cancel:hover {
  background: #515863;
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .theme_box .btn .save {
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
}
body .edit_box .container .right .theme_box .btn .save:hover {
  background: linear-gradient(to right, #68c4f5 0%, #4972ec 60%);
  box-sizing: 0 10px 10px 0 #000;
}
body .edit_box .container .right .privacy_setting_box {
  display: none;
}/*# sourceMappingURL=editPage.css.map */