.header {
    display: block;
    width: 100%;
    height: 104px;
}
.footer {
    display: block;
    width: 100%;
    height: 78px;
}
#main_box {
    width: 100%;
    background: url(../../img/profile/bg_dots.png) no-repeat;
    color: #E9E5E8;
    position: relative;
    padding-bottom: 16px;
    a {
        color: #E9E5E8;
    }

    // 清除旧的用户名 弹窗
    .popup_window_clearold {
        display: none;
        .mask {
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0,.8);
        }
        .container {
            width: 1100px;
            background-color: #161A21;
            padding: 40px;
            color: #8B9399;
            position: absolute;
            top: 36px;
            left: 50%;
            z-index: 999;
            margin-left: -550px;
            img {
                position: absolute;
                top: 8px;
                right: 8px;
                cursor: pointer;
            }
            .title {
                font-size: 24px;
                font-weight: 800;
                color: #fff;
                margin-bottom: 20px;
            }
            .isSure {
                margin-bottom: 40px;
            }
            .choose {
                width: 200px;
                height: 40px;
                position: absolute;
                bottom: 20px;
                right: 20px;
                button {
                    width: 60px;
                    height: 32px;
                    border-radius: 4px;
                    border: none;
                    color: #E9E5E8;
                }
                .y {
                    
                    background-color: #5DAE30;
                }
                .n {
                    background-color: #31363F;
                }
            }
        }
        
    }

    // 文本格式帮助 弹窗
    .popup_window_text_format {
        display: none;
        .mask {
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0,.8);
        }
        .container {
            width: 520px;
            height: 575px;
            background-color: #2A2E35;
            padding: 40px;
            color: #a8aeb3;
            position: absolute;
            top: -50px;
            left: 50%;
            margin-left: -260px;
            z-index: 999;
            img {
                position: absolute;
                top: 8px;
                right: 8px;
                cursor: pointer;
            }
            .title {
                font-size: 24px;
                color: #fff;
                font-weight: 800;
                margin-bottom: 30px;
            }
            >span {
                font-size: 14px;
            }
            ul {
                margin-top: 6px;
                font-size: 12px;
                li {
                    width: 100%;
                    height: 36px;
                    border-bottom: 1px solid #aaa;
                    display: flex;
                    align-items: center;
                    .l {
                        flex: 5;
                    }
                    .r {
                        flex: 3;
                    }
                    &:nth-of-type(1) {
                        background-color: rgba(0, 0, 0,.8);
                        border-bottom: none;
                        height: 26px;
                    }
                    .hide {
                        background-color: #000;
                    }
                }
            }
            button {
                width: 80px;
                height: 30px;
                background-color: #292D34;
                border: none;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0,.6);
                color: #a8aeb3;
                position: absolute;
                bottom: 30px;
                right: 40px;
            }
        }

    }

    // 主体内容
    .container {
        width: 70%;
        margin: 0 auto;
        padding: 10px;
        background-color: rgba(116, 74, 116,.3);

        // 上面
        .top {
            width: 100%;
            min-height: 224px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            // 左边
            .user_info {
                width: 65%;
                padding: 15px;
                display: flex;
                justify-content: space-between;
                // 头像
                .avatar {
                    width: 164px;
                    height: 164px;
                    position: relative;
                    img {
                        width: 164px;
                        height: 164px;
                    }
                    // 用户信息小卡片
                    .card {
                        transform-origin: left center;
                        transform: scale(0);
                        width: 330px;
                        overflow: hidden;
                        height: 172px;
                        position: absolute;
                        top: -10px;
                        left: 175px;
                        z-index: 2;
                        background-color: rgb(47, 45, 45);
                        color: rgb(166, 160, 160);
                        transition: all .3s linear;
                        .card_top {
                            width: inherit;
                            height: 60%;
                            background-color: rgba(255, 255, 255,.3);
                            
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .avatar {
                                width: 96px;
                                height: 96px;
                                img {
                                    width: 96px;
                                    height: 96px;
                                }
                                position: absolute;
                                top: 22px;
                                left: 15px;
                            }
                            .nickname {
                                font-size: 20px;
                                color: rgb(166, 160, 160);
                                margin-left: 45px;
                            }
                            .state {
                                font-size: 12px;
                                margin-left: -20px;
                            }
                        }
                        .card_level {
                            width: inherit;
                            height: 40%;
                            margin-top: 22px;
                            margin-left: 32px;
                            color: rgb(166, 160, 160);
                            a {
                                display: flex;
                                align-items: center;
                                font-size: 14px;
                                color: rgb(166, 160, 160);
                                .level_num {
                                    width: 30px;
                                    height: 30px;
                                    font-size: 14px;
                                    border-radius: 50%;
                                    border: 2px solid #8B9399;
                                    line-height: 30px;
                                    text-align: center;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    &:hover .card {
                        transform: scale(1);
                    }
                }
                // 用户信息
                .intro {
                    width: calc(100% - 184px);
                    position: relative;
                    .nickname {
                        img {
                            cursor: pointer;
                            
                        }
                    }
                    // 清除旧名框
                    .old_info {
                        display: none;
                        width: 180px;
                        padding: 6px;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0,.6);
                        background-color: #161A21;
                        font-size: 14px;
                        position: absolute;
                        top: 20px;
                        left: 45px;
                        z-index: 6;
                        ul {
                            padding: 10px;
                            padding-right: 0px;
                            margin-bottom: 20px;
                            li {
                                margin-bottom: 5px;
                                font-size: 12px;
                                color: #fff;
                            }
                        }
                        .clear_old {
                            font-size: 12px;
                            color: #757576;
                            cursor: pointer;
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                    
                    .realname {
                        font-size: 12px;
                    }
                    .info_intro {
                        font-size: 14px;
                        margin-top: 30px;
                    }
                }
            }

            // 右边
            .self_profile {
                display: flex;
                width: 33%;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                margin-top: 10px;
                margin-right: 15px;
                .level {
                    margin-bottom: 10px;
                    a {
                        display: flex;
                        align-items: center;
                        font-size: 24px;
                        .level_num {
                            width: 36px;
                            height: 36px;
                            font-size: 20px;
                            border-radius: 50%;
                            border: 2px solid #8B9399;
                            line-height: 36px;
                            text-align: center;
                            margin-right: 10px;
                        }
                    }
                }
                .choose_badge {
                    width: 100%;
                    height: 80px;
                    padding: 10px;
                    font-size: 14px;
                    color: #ccc;
                    border-radius: 6px;
                    background-color: rgba(0, 0, 0,.3);
                    margin-bottom: 10px;
                    a {
                        color: #fff;
                        &:hover {
                            color: rgb(84, 149, 187);
                        }
                    }
                }
                .edit_profile {
                    width: 120px;
                    height: 34px;
                    font-size: 16px;
                    line-height: 34px;
                    text-align: center;
                    color: #ccc;
                    border-radius: 5px;
                    border: none;
                    background-color: rgb(90, 40, 92);
                    &:hover {
                        background-color: rgb(100, 50, 102);
                        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
                        color: #fff;
                    }
                }
            }
        }

        // 下面
        .bottom {
            width: 100%;
            min-height: 224px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 50px;

            // 下面的左边
            .left {
                width: 64%;
                color: #969696;
                margin-top: 60px;
                .message {
                    .message_title {
                        width: 100%;
                        background-color: rgba(0, 0, 0,.3);
                        padding: 5px 10px;
                        border-radius: 4px;
                        position: relative;
                        .t {
                            font-size: 20px;
                            margin-right: 10px;
                        }
                        .sub {
                            font-size: 14px;
                            margin-left: 3px;
                        }
                        .pos {
                            font-size: 12px;
                            position: absolute;
                            top: 0px;
                            left: 158px;
                            cursor: default;
                            i {
                                color: #009ED7;
                            }
                            .hint {
                                display: none;
                                width: 260px;
                                height: 45px;
                                border-radius: 5px;
                                padding: 5px;
                                font-size: 12px;
                                color: #333131;
                                background-color: rgb(194,194,194);
                                position: absolute;
                                top: -50px;
                                left: -6px;
                            }
                            &:hover .hint{
                                display: block;
                            }
                        }
                        .showDetail {
                            position: absolute;
                            right: 10px;
                            bottom: 5px;
                            display: flex;
                            align-items: center;
                            .see {
                                margin-right: 15px;
                                font-size: 12px;
                                a {
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                            // 分页
                            .pagination {
                                height: 30px;
                                display: flex;
                                align-items: center;
                                
                                button {
                                    width: 45px;
                                    height: 22px;
                                    background-color: #333131;
                                    border: none;
                                    background-color: rgba(0, 158, 215,.3);
                                    color: #009ED7;
                                    border-radius: 4px;
                                    &:hover {
                                        background-color: #009ED7;
                                        color: #fff;
                                    }
                                }
                                ul {
                                    display: flex;
                                    align-items: center;
                                    margin: 0px 10px;
                                    li {
                                        width: 20px;
                                        height: 20px;
                                        line-height: 20px;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        
                    }

                    // 留言输入框
                    .message_ipt {
                        width: 98%;
                        margin: 20px auto;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        .avatar {
                            width: 34px;
                            height: 34px;
                            img {
                                width: 34px;
                                height: 34px;
                            }
                        }
                        textarea {
                            width: calc(100% - 40px);
                            height: 40px;
                            border: 1px solid rgba(0, 0, 0, 0.3);
                            border-radius: 3px;
                            background-color: rgba(0, 0, 0, 0.5);
                            box-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
                            color: #dbd5d5;
                            border: none;
                            outline: none;
                            padding: 10px;
                            resize: none;
                            font-size: 16px;
                            &::placeholder {
                                font-size: 16px;
                            }
                        }
                        // 留言工具
                        .tools {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            position: absolute;
                            bottom: -35px;
                            right: 0px;
                            button {
                                width: 80px;
                                height: 26px;
                                border-radius: 5px;
                                cursor: pointer;
                                color: #67c1f5 ;
                                background: rgba(0, 0, 0, 0.5 );
                                border: none;
                            }
                            .help {
                                &:hover {
                                    background: rgba(103, 193, 245,.4);
                                    color: #fff;
                                }
                            }
                            .emj {
                                margin: 0 10px;
                                cursor: pointer;
                                img {
                                    width: 22px;
                                    height: 22px;
                                }
                                // 表情包列表
                                ul {
                                    visibility: hidden;
                                    width: 304px;
                                    height: 48px;
                                    background-color: #3B3938;
                                    display: flex;
                                    justify-content: space-evenly;
                                    align-items: center;
                                    position: absolute;
                                    top: -2px;
                                    right: 120px;
                                    li {
                                        width: 28px;
                                        height: 28px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        position: relative;
                                        &:hover {
                                            background-color: #2b2f36;
                                        }
                                        &:hover .popup {
                                            transform: scale(1);
                                        }
                                        img {
                                            width: 18px;
                                            height: 18px;
                                        }
                                        .popup {
                                            transform-origin: left center;
                                            transform: scale(0);
                                            height: 70px;
                                            background-color: #3B3938;
                                            position: absolute;
                                            top: -15px;
                                            left: 35px;
                                            z-index: 3;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            border: 1px solid #aaa;
                                            transition: all .3s linear;
                                            img {
                                                width: 54px;
                                                height: 54px;
                                                margin: 0 10px;
                                            }
                                            .dis {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: flex-start;
                                                color: #bbb;
                                                font-size: 14px;
                                                margin-right: 10px;
                                                span {
                                                    &:nth-of-type(2) {
                                                        color: #ccc;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .submit {
                                color: #D2E885;
                                background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
                                &:hover {
                                    background: #a4d007;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                // 留言列表
                .message_list {
                    border-bottom: 1px solid #aaa;
                    margin-top: 80px;
                    position: relative;
                    .list {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        position: relative;
                        margin-bottom: 10px;
                        padding: 5px;
                        border-radius: 4px;
                        transition: all .3s linear;
                        .message_avatar {
                            margin-right: 10px;
                        }
                        .content_box {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            font-size: 14px;
                            .content_top {
                                color: #fff;
                                .message_nickname {
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                                .past_time {
                                    font-size: 12px;
                                    color: #56707f;
                                    margin-left: 5px;
                                }
                            }
                            // .content {
                            //     display: -webkit-box;
                            //     -webkit-box-orient: vertical;
                            //     -webkit-line-clamp: 3;
                            //     overflow: hidden;
                            //     text-overflow: ellipsis;
                            // }
                        }
                        .del {
                            display: none;
                            position: absolute;
                            top: 5px;
                            right: 10px;
                            cursor: pointer;
                            .del_hint {
                                display: none;
                                position: absolute;
                                top: -27px;
                                left: -2px;
                                width: 40px;
                                height: 28px;
                                line-height: 28px;
                                text-align: center;
                                border-radius: 3px;
                                background-color: #ccc;
                                color: #000;
                                font-size: 14px;
                            }
                            &:hover .del_hint{
                                display: block;
                            }
                        }
                        &:hover {
                            background-color: rgba(255, 255, 255,.2);
                            .del {
                                display: block;
                            }
                        }
                    }
                    // 分页
                    .pagination {
                        height: 30px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        right: 0px;
                        bottom: -50px;
                        button {
                            width: 45px;
                            height: 22px;
                            background-color: #333131;
                            border: none;
                            background-color: rgba(0, 158, 215,.3);
                            color: #009ED7;
                            border-radius: 4px;
                            &:hover {
                                background-color: #009ED7;
                                color: #fff;
                            }
                        }
                        ul {
                            display: flex;
                            align-items: center;
                            margin: 0px 10px;
                            li {
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            // 下面的右边
            .right {
                width: 32%;
                height: 520px;
                background-color: rgba( 0, 0, 0, 0.3 );
                backdrop-filter: blur(20px);
                padding: 10px;
                border-radius: 5px;
                font-size: 14px;
                margin-left: 20px;

                // 用户状态
                .user_state {
                    color: #898989;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 40px;
                    .out_state {
                        font-size: 20px;
                    }
                    .on_state {
                        font-size: 20px;
                        color: #009ED7;
                    }
                }

                // 列表
                ul {
                    li {
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        &:nth-of-type(1) {
                            margin-bottom: 30px;
                        }
                        a {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
