.friends-box{
    width: 100%;
    // height: 40px;
    // background-color: skyblue;
    > div{
        width: 100%;
        height: 40px;
        margin-top: 12px;
    }
}
.cover{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 3;
}
.friends-search{
    margin-top: 12px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    color: white;
    width: 100%;
    background-color: #434953;
    > .friends-search-box{
        width: 90%;
        display: flex;
        justify-content: space-between;
        // flex: 1;
        align-items: center;
        background-color: #262930;
        margin:0px 4px;
        padding: 2px;
        > img{
            width: 16px;
            height: 16px;
            margin-left: 4px;
        }
        > input{
            flex: 1;
            margin: 0px 6px;
            background-color: #262930;
            outline: none;
            border: 0px solid #262930;
            color: white;
        }
        > span{
            margin-right: 4px;
            color: #434953;
            font-size: 14px;
        }
    }
        > img{
    width: 30px;
    height: 30px;
        }
}
.friend-state-box{

}

.right-box{
    float: left;
    width: calc(100vw - 300px);
    height: calc(100vh - 35px);
    background-color: #262930;
    >.no-friend-chat{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #969696;
        font-size: 18px;
    }
}
.group-commit{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left:-16px;
    > .group-commit-header{
        width: calc(100% + 0px);
        padding: 0px 8px;
        height: 26px;
        // background-color: skyblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #434953;
        >.header-one{
            background: url("../imgs/down.png") no-repeat;
            background-size: 20px 20px;
            width: 20px;
            height: 20px;
            background-color: #434953;
        }
        > .header-two{
            color: #b7ccd5;
            font-size: 14px;
            transition: all .3 linear;
        }
        > .header-three{
            background: url("../imgs/group-add.png") no-repeat;
            background-size: 20px 20px;
            width: 20px;
            height: 20px;
            background-color: #434953;
            transition: all .3 linear;
        }
    }
    > .showTips{
        transition: all .3 linear;
        padding:  0px 20px;
        color: rgba(197,214,212,.35);
        font-size: 14px;
        > div{
            width: 100%;
            margin:20px 0 ;
        }
    }
}
.create-group{
    width: 100vw;
    height: 100vh;
    // z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(228, 215, 215, 0.1);
    color: white;
    > .create-group-one{
        width: 50vw;
        min-width: 600px;
        padding: 10px 20px;
        background:radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%),#25282e;;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // align-items: flex-start;
        > span{
            width: 20px;
            height: 20px;
            background:url("../imgs/out.png") no-repeat;
            background-size: 20px 20px;
            margin-left: calc(100% - 20px);
        }
        > .create-group-two{
            font-size:  28px;
            font-weight: 700;
        }
        > .create-group-three,.create-group-four{
            margin:12px 0px;
            display: flex;
            flex-direction: column;
            > input{
                height: 40px;
                outline: none;
                border: 0px solid black;
                padding: 0px 20px;
                margin-top: 12px;
                background-color: rgba(59,63,72,.5);
                color: #dfe3e6;
                font-size: 16px;
            }
        }
        > .create-group-five{
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
               width: 45%;
               height: 75%;
               text-align: center;
               line-height: 45px;
               background-color: #3d4450;
                
            }
        }
    }

}
.setting{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    background-color:rgba(4, 7, 4, 0.7);
    opacity: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    > div{
        width: 60vw;
        min-width: 800px;
        height: 70vh;
        height: 600px;
        display: flex;
        border-top: 2px solid #3366ff;
        // background-color: white;
        > .setting-left{
            width: 30%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            > div{
                width: 100%;
                > div{
                    width: 100%;
                    height: 40px;
                    margin: 8px 0px;
                    padding-left: 12px;
                    line-height: 40px;
                    &:hover{
                        background-color: rgba(46,52,63,1);
                    }
                }
            }
            > .setting-left-header{
                width: 100%;
                height: 60px;
                font-size: 24px;
                font-weight: 800;
                color: #1a9fff;
                text-align: center;
                line-height: 60px;
            }

        }
        >.setting-right{
            width: 70%;
            height: 100%;
            position: relative;
            background:radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%),#25282e;
            > div{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                >.setting-title{
                    width: 100%;
                    height: 50px;
                    font-size: 22px;
                    font-weight: 600;
                    // background-color: skyblue;
                    padding-left: 12px;
                    line-height: 50px;
                    border-bottom: 2px solid white;
                }
                > .setting-body{
                    width: inherit;
                    display: flex;
                }
            }
        }
    }
}