.friends-box {
  width: 100%;
}

.friends-box > div {
  width: 100%;
  height: 40px;
  margin-top: 12px;
}

.cover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.friends-search {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  background-color: #434953;
}

.friends-search > .friends-search-box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262930;
  margin: 0px 4px;
  padding: 2px;
}

.friends-search > .friends-search-box > img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.friends-search > .friends-search-box > input {
  flex: 1;
  margin: 0px 6px;
  background-color: #262930;
  outline: none;
  border: 0px solid #262930;
  color: white;
}

.friends-search > .friends-search-box > span {
  margin-right: 4px;
  color: #434953;
  font-size: 14px;
}

.friends-search > img {
  width: 30px;
  height: 30px;
}

.friend-state-box {
  width: 100%;
  padding: 0px 12px;
  overflow: auto;
  margin-top: 20px;
  max-height: calc(100vh - 360px);
}

.friend-state-box > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
  color: #6dcff6;
}

.friend-state-box > .friends-list {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  border-bottom: 1px solid white;
}

.friend-state-box > .friends-list > img {
  width: 32px;
  height: 33px;
}

.friend-state-box > .friends-list > .is-online {
  color: darkturquoise;
}

.right-box {
  float: left;
  width: calc(100vw - 300px);
  height: calc(100vh - 35px);
  background-color: #262930;
}

.right-box > .no-friend-chat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
  font-size: 18px;
}

.right-box > .friend-chat {
  width: 100%;
  height: 100%;
}

.right-box > .friend-chat > .chat-box-header {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  height: 100px;
  border-bottom: 1px solid white;
}

.right-box > .friend-chat > .chat-box-header > img {
  width: 60px;
  height: 60px;
}

.right-box > .friend-chat > .chat-box-header > span {
  margin: 0px 20px;
}

.right-box > .friend-chat > .chat-box-header > span:nth-of-type(1) {
  font-size: 24px;
  font-weight: 700;
}

.right-box > .friend-chat > .chat-box-header > span:nth-of-type(2) {
  font-size: 14px;
  color: #1a9fff;
}

.right-box > .friend-chat > .chat-box-body {
  width: 100%;
  height: calc(100% - 170px);
  color: white;
  overflow: auto;
  position: relative;
}

.right-box > .friend-chat > .chat-box-body > .chat-info-box {
  width: 100%;
}

.right-box > .friend-chat > .chat-box-body > .chat-info-box > div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.right-box > .friend-chat > .chat-box-body > .chat-info-box > div > div {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-box > .friend-chat > .chat-box-body > .chat-info-box > div > div > div:nth-of-type(1) {
  color: #3366ff;
}

.right-box > .friend-chat > .chat-box-body > .chat-info-box > div > div > .chat-content {
  max-width: 600px;
}

.right-box > .friend-chat > .chat-box-body > .chat-info-box > div > .chat-avatar-box > img {
  width: 50px;
  height: 50px;
}

.right-box > .friend-chat > .chat-box-body > .chat-input-box {
  position: fixed;
  width: calc(100vw - 300px);
  height: 70px;
  bottom: 0px;
  left: calc((300px));
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
}

.right-box > .friend-chat > .chat-box-body > .chat-input-box > input {
  width: 600px;
  min-width: 400px;
  height: 50px;
  outline: none;
  font-size: 20px;
  padding: 0px 20px;
}

.right-box > .friend-chat > .chat-box-body > .chat-input-box > span {
  width: 80px;
  height: 50px;
  background-color: #3366ff;
  color: white;
  text-align: center;
  line-height: 50px;
}

.group-commit {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-left: -16px;
}

.group-commit > .group-commit-header {
  width: calc(100% + 0px);
  padding: 0px 8px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #434953;
}

.group-commit > .group-commit-header > .header-one {
  background: url("../imgs/down.png") no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  background-color: #434953;
}

.group-commit > .group-commit-header > .header-two {
  color: #b7ccd5;
  font-size: 14px;
  transition: all .3 linear;
}

.group-commit > .group-commit-header > .header-three {
  background: url("../imgs/group-add.png") no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  background-color: #434953;
  transition: all .3 linear;
}

.group-commit > .showTips {
  transition: all .3 linear;
  padding: 0px 20px;
  color: rgba(197, 214, 212, 0.35);
  font-size: 14px;
  z-index: 2;
}

.group-commit > .showTips > div {
  width: 100%;
  margin: 20px 0;
}

.create-group {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 215, 215, 0.1);
  color: white;
}

.create-group > .create-group-one {
  width: 50vw;
  min-width: 600px;
  padding: 10px 20px;
  background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.create-group > .create-group-one > span {
  width: 20px;
  height: 20px;
  background: url("../imgs/out.png") no-repeat;
  background-size: 20px 20px;
  margin-left: calc(100% - 20px);
}

.create-group > .create-group-one > .create-group-two {
  font-size: 28px;
  font-weight: 700;
}

.create-group > .create-group-one > .create-group-three,
.create-group > .create-group-one .create-group-four {
  margin: 12px 0px;
  display: flex;
  flex-direction: column;
}

.create-group > .create-group-one > .create-group-three > input,
.create-group > .create-group-one .create-group-four > input {
  height: 40px;
  outline: none;
  border: 0px solid black;
  padding: 0px 20px;
  margin-top: 12px;
  background-color: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 16px;
}

.create-group > .create-group-one > .create-group-five {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-group > .create-group-one > .create-group-five > div {
  width: 45%;
  height: 75%;
  text-align: center;
  line-height: 45px;
  background-color: #3d4450;
}

.setting {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  background-color: rgba(4, 7, 4, 0.7);
  opacity: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.setting > div {
  width: 60vw;
  min-width: 800px;
  height: 70vh;
  height: 600px;
  display: flex;
  border-top: 2px solid #3366ff;
}

.setting > div > .setting-left {
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.setting > div > .setting-left > div {
  width: 100%;
}

.setting > div > .setting-left > div > div {
  width: 100%;
  height: 40px;
  margin: 8px 0px;
  padding-left: 12px;
  line-height: 40px;
}

.setting > div > .setting-left > div > div:hover {
  background-color: #2e343f;
}

.setting > div > .setting-left > .setting-left-header {
  width: 100%;
  height: 60px;
  font-size: 24px;
  font-weight: 800;
  color: #1a9fff;
  text-align: center;
  line-height: 60px;
}

.setting > div > .setting-right {
  width: 70%;
  position: relative;
  overflow: auto;
  background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
}

.setting > div > .setting-right .setting-fixed {
  position: absolute;
  top: 6px;
  left: calc(100% - 40px);
  width: 20px;
  height: 20px;
  background: url("../imgs/out.png") no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}

.setting > div > .setting-right > div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.setting > div > .setting-right > div > .setting-title {
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: 600;
  padding-left: 12px;
  line-height: 50px;
  border-bottom: 2px solid white;
}

.setting > div > .setting-right > div > .setting-body {
  width: calc(100% - 24px);
  padding: 12px;
  display: flex;
  background-color: rgba(59, 63, 72, 0.5);
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  color: #dfe3e6;
  font-size: 14px;
}

.setting > div > .setting-right > div > .setting-body > div:nth-of-type(1) {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.setting > div > .setting-right > div > .setting-body > div:nth-of-type(2) {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
}

.setting > div > .setting-right > div > .setting-body > div:nth-of-type(2) > div {
  width: 48%;
  height: 40px;
  background-color: #3a3f48;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

.setting > div > .setting-right > div > .setting-body > .first-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: 70px;
}

.setting > div > .setting-right > div > .setting-body > .first-body > div:nth-of-type(1) {
  height: 30px;
  text-align: left;
}

.setting > div > .setting-right > div > .setting-body > .first-body > .first-body-user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting > div > .setting-right > div > .setting-body > .first-body > .first-body-user > .first-body-usernick {
  display: flex;
  flex-direction: column;
  color: #6dcff6;
  font-size: 14px;
  margin: 0px 6px;
}

.setting > div > .setting-right > div > .setting-body > .first-body > .first-body-user > img {
  width: 40px;
  height: 40px;
}

.setting > div > .setting-right > div > .setting-body > .first-body > .first-body-user > input {
  flex: 1;
  padding: 12px;
  height: 40px;
  background-color: rgba(59, 63, 72, 0.5);
  color: #6dcff6;
  outline: none;
  border: 0px solid black;
}

.setting > div > .setting-right > div > .notify-box > div {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting > div > .setting-right > div > .notify-box > div > div {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
  background-color: rgba(67, 73, 83, 0.3);
}

.setting > div > .setting-right > div > .notify-box > div > div > input {
  width: 30px;
  height: 30px;
}

.setting > div > .setting-right > div > .notify-box > div > div:nth-of-type(1) {
  width: 50%;
}

.setting > div > .setting-right > div > .notify-box > div > div:nth-of-type(2) {
  width: 25%;
  justify-content: center;
}

.setting > div > .setting-right > div > .notify-box > div > div:nth-of-type(3) {
  width: 25%;
  justify-content: center;
}

.setting > div > .setting-right > div > .notify-box > div:nth-of-type(1) {
  color: #7e7e7e;
  background-color: none;
}

.setting > div > .setting-right > div > .voice {
  width: 100%;
  padding: 10px;
}

.setting > div > .setting-right > div > .voice > div > div:nth-of-type(1) {
  color: #969696;
  font-size: 13px;
  margin: 10px 0px;
}

.setting > div > .setting-right > div > .voice > div > .voice-test > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1c1e23;
  padding: 12px;
  border: 10px solid #272a30;
}

.setting > div > .setting-right > div > .voice > div > .voice-test > div > img {
  width: 40px;
  height: 40px;
}

.setting > div > .setting-right > div > .voice > div > .voice-test > div > div:nth-of-type(1) {
  font-size: 14px;
  color: #6dcff6;
  margin: 0px 8px;
  font-size: 16px;
}

.setting > div > .setting-right > div > .voice > div > .voice-test > div > div:nth-of-type(1) > div:nth-of-type(2) {
  font-size: 13px;
}

.setting > div > .setting-right > div > .voice > div > .voice-test > div > div:nth-of-type(2) {
  width: 60%;
  height: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
}

.setting > div > .setting-right > div > .voice > div > .voice-test > div > div:nth-of-type(2) > div {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e343f;
}

.setting > div > .setting-right > div > .voice > div > .input-box {
  position: relative;
}

.setting > div > .setting-right > div > .voice > div > .input-box:hover > .input-box-device {
  display: block;
}

.setting > div > .setting-right > div > .voice > div > .input-box > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(59, 63, 72, 0.5);
  padding: 6px 12px;
}

.setting > div > .setting-right > div > .voice > div > .input-box > div:nth-of-type(1) > div {
  color: #1a9fff;
}

.setting > div > .setting-right > div > .voice > div > .input-box > div:nth-of-type(1) > span {
  width: 30px;
  height: 30px;
  background: url("../imgs/down.png") no-repeat;
  background-size: 100% 100%;
}

.setting > div > .setting-right > div > .voice > div > .input-box > .input-box-device {
  width: 100%;
  display: none;
  position: absolute;
  top: 42px;
  left: 0px;
  padding: 24px 20px;
  background-color: #2f343c;
  z-index: 3;
}

.setting > div > .setting-right > div > .voice > div > .input-box > .input-box-device > div {
  width: 100%;
  height: 30px;
}

.setting > div > .setting-right > div > .voice > div > .my-voice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.setting > div > .setting-right > div > .voice > div > .my-voice > div {
  width: 45%;
  background-color: rgba(59, 63, 72, 0.5);
  padding: 12px;
}

.setting > div > .setting-right > div > .voice > div > .my-voice > div > div:nth-of-type(1) {
  width: 100%;
  font-size: 13px;
  color: #dfe3e6;
  text-align: center;
  margin: 6px 0px;
}

.setting > div > .setting-right > div > .voice > div > .my-voice > div > input {
  width: 100%;
}

.setting > div > .setting-right > div > .voice > div > .my-voice > div > div:nth-of-type(2) {
  color: #969696;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting > div > .setting-right > div > .voice > div > .open-microphone {
  font-size: 14px;
}

.setting > div > .setting-right > div > .voice > div > .microphone-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
}

.setting > div > .setting-right > div > .voice > div > .microphone-box > div {
  margin: 10px 0px;
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting > div > .setting-right > div > .voice > div > .microphone-box > .microphoneactivate {
  background-color: #1f8dff;
}
