.header_container {
  width: 100%;
  height: 104px;
  background-color: #161A21;
}
.header_container .main {
  width: 70%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.header_container .main .logo {
  width: 176px;
  height: 44px;
}
.header_container .main .logo img {
  width: 176px;
  height: 44px;
}
.header_container .main .category {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.header_container .main .category > li {
  margin-right: 20px;
  position: relative;
}
.header_container .main .category > li .cate_list {
  display: none;
  width: 132px;
  font-size: 14px;
  padding: 10px 10px;
  background-color: #161A21;
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 555;
}
.header_container .main .category > li .cate_list > li {
  height: 30px;
}
.header_container .main .category > li .cate_list > li a {
  font-size: 14px;
  color: #b8b6b4;
  text-transform: uppercase;
}
.header_container .main .category > li .cate_list > li a:hover {
  color: #fff;
}
.header_container .main .category > li > a {
  width: 30px;
  height: 24px;
  font-size: 14px;
  color: #b8b6b4;
  text-transform: uppercase;
}
.header_container .main .category > li > a:hover {
  color: #fff;
}
.header_container .main .category > li:hover .cate_list {
  display: block;
}
.header_container .main .right {
  position: absolute;
  top: 6px;
  right: 10px;
  display: flex;
  color: #b8b6b4;
  font-size: 12px;
}
.header_container .main .right .install {
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.header_container .main .right .install img {
  margin: 0 5px;
}
.header_container .main .right .install span {
  margin: 0 5px;
}
.header_container .main .right .install:hover span {
  color: #fff;
}
.header_container .main .right .inform {
  width: 27px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin-right: 15px;
}
.header_container .main .right .inform img {
  width: 12px;
  height: 9px;
}
.header_container .main .right .inform:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header_container .main .right .self_info {
  margin-top: 2px;
  cursor: pointer;
  margin-right: 15px;
  position: relative;
}
.header_container .main .right .self_info:hover span {
  color: #fff;
}
.header_container .main .right .self_info .info_list {
  display: none;
  width: 150px;
  background-color: #161A21;
  padding: 20px 10px;
  position: absolute;
  top: 25px;
  right: 0px;
  z-index: 555;
}
.header_container .main .right .self_info .info_list li {
  height: 30px;
}
.header_container .main .right .self_info .info_list li a {
  font-size: 14px;
  color: #b8b6b4;
}
.header_container .main .right .self_info .info_list li a i {
  color: #02BFD0;
}
.header_container .main .right .self_info .info_list li a:hover {
  color: #fff;
}
.header_container .main .right .avatar {
  width: 32px;
  height: 32px;
}
.header_container .main .right .avatar img {
  width: 32px;
  height: 32px;
}/*# sourceMappingURL=header.css.map */