
.header_container {
    width: 100%;
    height: 104px;
    background-color: #161A21;
    .main {
        width: 70%;
        height: inherit;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        .logo {
            width: 176px;
            height: 44px;
            img {
                width: 176px;
                height: 44px;
            }
        }
        // 中间分类列表
        .category {
            display: flex;
            align-items: center;
            margin-left: 50px;
            >li {
                margin-right: 20px;
                position: relative;
                .cate_list {
                    display: none;
                    width: 132px;
                    font-size: 14px;
                    padding:10px 10px;
                    background-color: #161A21;
                    position: absolute;
                    top: 20px;
                    left: 0px;
                    z-index: 555;
                    >li {
                        height: 30px;
                        a {
                            font-size: 14px;
                            color: #b8b6b4;
                            text-transform: uppercase;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
                >a {
                    width: 30px;
                    height: 24px;
                    font-size: 14px;
                    color: #b8b6b4;
                    text-transform: uppercase;
                    &:hover {
                        color: #fff;
                    }
                    
                }
                &:hover .cate_list {
                    display: block;
                }
            }
            
            
        }
        .right {
            position: absolute;
            top: 6px;
            right: 10px;
            display: flex;
            color: #b8b6b4;
            font-size: 12px;
            // 下载steam
            .install {
                height: 24px;
                line-height: 24px;
                margin-right: 15px;
                padding:0 5px;
                background-color: rgba(255, 255, 255,.4);
                cursor: pointer;
                img {
                    margin:0 5px;
                }
                span {
                    margin: 0 5px;
                }
                &:hover span{
                    color: #fff;
                }
            }
            // 消息通知
            .inform {
                width: 27px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                background-color: rgba(255, 255, 255,.1);
                cursor: pointer;
                margin-right: 15px;
                img {
                    width: 12px;
                    height: 9px;
                }
                &:hover {
                    background-color: rgba(255, 255, 255,.3);
                }
            }
            // 用户资料
            .self_info {
                margin-top: 2px;
                cursor: pointer;
                margin-right: 15px;
                position: relative;
                &:hover{
                    span {
                        color: #fff;
                    }
                    // .info_list {
                    //     display: block;
                    // }
                }
                .info_list {
                    display: none;
                    width: 150px;
                    background-color: #161A21;
                    padding:20px 10px;
                    position: absolute;
                    top: 25px;
                    right: 0px;
                    z-index: 555;
                    li {
                        height: 30px;
                        a {
                            font-size: 14px;
                            color: #b8b6b4;
                            i {
                                color: #02BFD0;
                            }
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            // 头像
            .avatar {
                width: 32px;
                height: 32px;
                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}